.tab {
    margin-top: 0;
}

.tabs {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.tab-content {
    display: none;
    padding: 10px;
}

.active {
    display: block;
    transition: all 0.4s ease-in-out;

}

.tab-content {
    display: none;
    padding: 10px;
    opacity: 0;
}

.activeContent {
    padding-top: 20px;
    display: block;
    opacity: 1;
    border-radius: 0px 0px 5px 5px;

}

.tab_featued_collection_content .tab:not(.active) {
    border: 1px solid var(--DT_Button_BG_Color);
    background-color: transparent;
    color: var(--DT_Button_BG_Color);
}

.tab_featued_collection_content .products.dt-sc_button .product-detail form {
    position: relative;
    left: 0;
    right: 0;
    border-left: 0px;
    border-right: 0px;
}

/* ==========================  */

.mobilelist-container {
    display: flex;
    align-self: center;
    justify-content: center;
}

.mobilelist-item {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .mobile-sticky-menu {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .mobile-sticky-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: var(--DTBodyBGColor);
    }
}

/* =====================  */

@media screen and (min-width:768px) {
    .collection-header:after {
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        height: 1px;
        bottom: 0;
        background-color: var(--DTColor_Border);
    }
}

@media screen and (max-width:767px) {
    .filter_design_new .has-sidebar:not(.open) .sidebar_btn+.sidebar {
        display: none;
    }

    .dt-collection-filter .filter-custom-control label {
        font-size: 14px;
    }

    .dt-collection-filter .count-bubble,
    .sidebar .sidebar_title {
        font-size: 15px;
    }

    .filter_design_new .sidebar_btn {
        position: absolute;
        top: 0;
        left: 0;
    }

    .dt-collection-filter .count-bubble {
        height: 25px;
        width: 25px;
    }

    .widget-list.filter-body,
    div[class*=sidebar] .sidebar .filter-panel {
        padding: 7px 0px;
    }

    .filter_design_new .has-sidebar {
        position: relative;
    }

    .filter_design_new .collection-grid .collection-header {
        width: calc(100% - 120px);
        margin-left: 120px;
        flex-direction: row-reverse;
    }

    .collection-header .collection-view label {
        display: none;
    }

    .product-description-product-template .product-meta-block .product_offer_content+.product_offer_content:not(:empty) {
        margin-top: -5px;
    }

    form[class*=shopify-product]>div,
    .product-meta-block .product-deal-count,
    form[class*=shopify-product] .dt-sc-qty,
    div[class*=template-content] .product-label,
    .product-label,
    form[class*=shopify-product]>div.product_payments_btns .dT_VProdWishList,
    .product-description-product-template .product-meta-block>*:not(:empty),
    .quickview-description .product-meta-block>*:not(:empty),
    form[class*=shopify-product]>div.product_payments_btns>* {
        margin-bottom: 15px;
    }
}

/* ===========================  */

.product_offer_content_inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.content_inner p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

.product-description-product-template .product-meta-block .product_offer_content+.product_offer_content:not(:empty) {
    margin-top: -10px;
}

/* ============================  */

footer .footer__newsletter {
    display: flex;
    column-gap: 10px;
}

.footer__newsletter .footer__newsletter-btn {
    margin-top: 0;
    white-space: nowrap;
}

.dt-collection-filter-cover .js-filter {
    border-bottom: 1px solid #000;
}

.dt-collection-filter>div .sidebar-body .categories-list li {
    width: 100%;
}